.headder__container {
  @extend %flex;
}
.headder {
  border-bottom: 1px solid $border-hedder-color;
}
.headder__logo {
  padding-top: 25px;
  padding-bottom: 24px;
}
.logo {
  font-family: $secondary-font-family;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: $title-text-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $accent-color;
  }
  &--accent {
    color: $accent-color;
  }
}
.nav {
  @extend %flex;
}
.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav__item + .site-nav__item {
  margin-left: 50px;
}
.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: $title-text-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.site-nav__item {
  position: relative;
}
.site-nav__link--activ {
  color: $accent-color;

  &::after {
    position: absolute;
    content: '';
    height: 4px;
    width: 100%;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    background-color: $accent-color;
  }
}
.contact {
  display: flex;
  margin-left: auto;
}
.contact__item + .contact__item {
  margin-left: 30px;
}
.contact__item {
  @extend %flex;
}
.contact__link {
  display: block;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: $primary-text-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @extend %flex;
  padding-top: 32px;
  padding-bottom: 32px;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.contact__icon {
  margin-right: 10px;
  fill: currentColor;
}
