.project__list {
  display: flex;
  flex-wrap: wrap;
}
.project__item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;

  &:nth-child(3n) {
    margin-right: 0;
  }
  &:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }
}
.project__link {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: $portfolio-box-shadow;
  }
}

.project__img {
  display: block;
  max-width: 100%;
  height: auto;
}
.project__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: $title-text-color;
}
.project__subtitle {
  color: $primary-text-color;
}
.project__card {
  padding: 22px 24px;
  border-left: 1px solid $border-cards-portfolio;
  border-right: 1px solid $border-cards-portfolio;
  border-bottom: 1px solid $border-cards-portfolio;
}
.project__thumb {
  position: relative;
  overflow: hidden;
}
.project__dropdown {
  position: absolute;
  @extend %flex;
  justify-content: center;
  padding: 63px 24px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $background-portfolio-img;
  font-size: 18px;
  line-height: 1.56;
  color: $primary-white-color;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .project__link:hover &,
  .project__link:focus & {
    transform: translateY(0);
  }
}
