$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$background-second-color: #f5f4fa;
$address-footer-color: rgba(255, 255, 255, 0.6);
$background-hero-footer: #2f303a;
$border-hedder-color: #ececec;
$border-cards-portfolio: #eeeeee;
$button-focus-color: #188ce8;
$box-shadow-port: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
$backgroud-hero: #c4c4c4;
$icon-color: #afb1b8;
$footer-social-color: rgba(255, 255, 255, 0.1);
$background-work-desc: rgba(47, 48, 58, 0.8);
$background-portfolio-img: rgba(33, 150, 243, 0.9);
$background-backdrop: rgba(0, 0, 0, 0.2);
$box-shadow-modal: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
$border-model-button: rgba(0, 0, 0, 0.1);
$border-footter-mail: rgba(255, 255, 255, 0.3);
$button-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
$border-form: rgba(33, 33, 33, 0.2);
$placeholder-color: rgba(117, 117, 117, 0.5);
$modal-button: #000000;
$portfolio-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
  1px 4px 6px rgba(0, 0, 0, 0.16);
$box-shadow-team: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
$main-font-family: roboto, sans-serif;
$secondary-font-family: raleway, sans-serif;
